<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8"/>
  <title>{{ page.title }}</title>
  <meta name="author" content="Laurel Hart"/>

  <style>
    body { text-align: center; }
    .container { max-width: 700px; margin: 0 auto; text-align: left; }
    a, a:visited, a:hover { text-decoration: none; }
  </style>

  <link rel="shortcut icon" href="hart.ico">
  <link type="text/css" rel="stylesheet" href="/css/resumestyle.css">
  <link type="text/css" rel="stylesheet" href="css/collapseList.css">
  <script type="text/javascript" src="js/jquery-1.4.2.min.js">
  </script>
  <script type="text/javascript" src="js/collapseList.js">
  </script>
</head>

<body>

  <div class="container">
    <div class="header">
        <h1><a href="/">Laurel Hart</a></h1>
        <h2>Computational linguist</h2>
    </div>
    <hr>

    {{ content }}

    </div>

    <div class="footer">
      <p>&copy; Copyright 2014 Laurel Hart</p>
      <p>Design by <a href="http://willacton.com">Will Acton</a> via <a href="https://github.com/Greh/greh.github.io">Georgia Reh</a></p>
    </div>
  </body>
</html>
